.sidebar-label {
    font-size: 12px;
}

.sidebar-icon {
    font-size: 24px;
    cursor: pointer;
}

.sidebar-options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px 0px;
    color: #616161;
    /* cursor: pointer; */
}

.sidebar-options:hover {
    color: #6264a7;
}

.active {
    color: #6264a7;
    border-left: 4px solid #6264a7;
    margin-left: 0px;
}