.ctr-ls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.ctr-ls-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.shadow1 {
    /* background-color: #abe9cd; */
    background-image: linear-gradient(315deg, #FFDE59 0%, #0c4ca3 85%);
}

.shadow2 {
    background-color: white;
    /* background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%); */
}

.eyeclass {
    position: relative;
    bottom: 40px;
    left: 90%;
    transform: translateX(-10%);
}

.imageSize {
    width: 70%;
    height: 70%;
}